#title {
  animation: fade 0.5s ease-in 0s 1 forwards;
}
#type {
  font-weight: 600;
  font-size: 20px;
  /* animation: slide-left 1s ease-in 0s 1 forwards; */
  animation: fade 0.8s ease-in 0s 1 forwards;
}
#act {
  height: 60px;
  /* animation: slide-left 1s ease-in 0s 1 forwards; */
  animation: fade 1s ease-in 0s 1 forwards;
}

#btn {
  height: 30px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

#btn:hover {
  animation: button 0.2s ease-in 0ms 1 forwards;
}

#gif-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#gif {
  width: 50px;
  margin-right: 25px;
  cursor: pointer;
}

#beans {
  width: 95vw;
  margin: 0 auto;
}
